// Color Variables
$primary-color: #575977;
$secondary-color: #c2c2c2;
$warning-color: #ebbb39;
$text-color: #434343;
$text-color-dark: #2F2F2F;
$text-color-light: #878787;
$body-color: #EAEAEA;
$border-color: #ababab;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;