@import "~bootstrap/scss/bootstrap"; 
@import "./typography";
@import "./variables";

body {
    background: $body-color;
    font-family: $primary-font;
    height: 100vh;
}
a,
a:focus {
  text-decoration: none;
  color: $text-color-dark;
  &:hover {
      color: $text-color-light;
  }
}
a, button, select {
    cursor: pointer;
}
.bg-primary {
    background: $primary-color !important;
}
.text-primary {
    color: $primary-color !important;
}
.text-dark {
    color: $text-color-dark !important;
}
.text-warning {
    color: $warning-color !important;
}
p {
    font-family: $secondary-font;
}
.container-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-alert {
    margin-top: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: rgb(218, 96, 96);
    z-index: 1;
}
.notices {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.main-section {
    margin: 70px 20px 0 20px;
}
.back-btn {
    position: absolute;
    top: 4em;
    left: 2em;
}